.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.tag {
  position: absolute;
  background: #3E444E;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
  visibility: hidden;
  height: 22px;
  width: 22px;
  /*padding:11px; */
  z-index: 2;
}

.tag span {
  position: absolute;
  width: 100px;
  color: #FFFFFF;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: .8rem;
  text-align: center;
  margin: 4px 0;
}
